<h1>Mi blog de aprendizaje astro</h1>
<ul>
    <li><a href="/posts/post-1">Primer post</a></li>
    <li><a href="/posts/post-2">Segundo post</a></li>
    <li><a href="/posts/post-3">Tercer post</a></li>
</ul>